.github
.vscode
bin
build
ci
**/coverage
**/hooks
**/node_modules
**/examples
**/src
**/tests
**/tools

vhs

.gitingore
.npmignore
.prettierignore
.prettierrc.json
*.sh
toAdd.txt
tsconfig.json
verace.json

*.tgz

bb/worker
bb/runner/assets/

typedoc.json
docgen
media

**/pages


**/dist